<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Cliente</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Dirección Postal</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Sucursal Principal ID</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${cliente.id}"></td>
    <td th:text="${cliente.dni}"></td>
    <td th:text="${cliente.nombre}"></td>
    <td th:text="${cliente.direccionPostal}"></td>
    <td th:text="${cliente.email}"></td>
    <td th:text="${cliente.telefono}"></td>
    <td th:text="${cliente.sucursalPrincipalId}"></td>
    </tbody>
</table>

<h2>Agregar Nuevo Cliente</h2>
<form th:action="@{/cliente/}" method="post">
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required>
    <br>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="direccionPostal">Dirección Postal:</label>
    <input type="text" id="direccionPostal" name="direccionPostal" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required>
    <br>
    <label for="sucursalPrincipalId">Sucursal Principal ID:</label>
    <input type="number" id="sucursalPrincipalId" name="sucursalPrincipalId" required>
    <br>
    <button type="submit">Agregar Cliente</button>
</form>
<h2>Eliminar Cliente</h2>
<form th:action="@{/cliente/delete/} + ${cliente.id}" method="post">
    <button type="submit">Eliminar</button>
</form>
</body>
</html>
